/* -------------------- IMPORT -------------------- */

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700|Space+Mono:400,700&display=swap");

/* -------------------- GLOBAL RULE -------------------- */

:root {
  --black: #1e1e1e;
  --grey: #faf9f5;
  --white: #ffffff;
  --yellow: #ffcc33;
  --orange: #f87624;
  --linearOrange: rgba(250, 110, 35, 0.8);
}
.Title {
  font-size: 40px;
  font-style: small;
  font-family: arial, sans-serif;
}
.Logo {
  font-size: 6px;
}
.Zoom {
  background-color: black;
  position: absolute;
}
header {
  display: flex;
  align-items: flex-start;
  background-color: rgb(252, 204, 1);
}

.Presentation {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px;
  background-color: white;
  padding: 70px;
}

body {
  display: flex;
  align-content: center;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: var(--black);
  background-color: rgb(242, 242, 242);
}

.Details-du-Film {
  display: flex;
  align-content: center;
  justify-content: center;
}
.container {
  display: flex;
  justify-items: end;
}

.Release {
  font-size: 24px;
}
